<div class="container">
    <h1>My Personal Home Page</h1>
    <p>Read more about me and check out my blog</p>
    <%= link_to "About Me", about_path %>
    <%= link_to "Blog", posts_path, class: "btn btn-primary" %>
</div>